<div class="container">
    <br/></br>
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="card">
                <div class="card-block">
                    <p class="card-text">
                        <b>Welcome to Property Plus</b>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non mauris consectetur, lacinia urna vitae, porttitor augue. Phasellus nisi magna, placerat sed gravida vel, sagittis vel massa. Ut vitae leo elit. Aenean a accumsan
                            turpis, eget vulputate eros. Nam bibendum felis et dolor placerat, eget egestas mauris tempor. Nunc blandit, nibh ut semper blandit, nisi tellus fringilla nunc, id rhoncus dolor enim vel velit. Ut a felis et purus mollis facilisis.
                            Vestibulum mattis metus orci, vel ultricies velit condimentum sit amet. Maecenas volutpat nisl massa, in luctus mauris commodo at. Curabitur consequat libero non nisi laoreet, in rhoncus purus dignissim.</p>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header"><b>For Landlords</b></div>
                <div class="card-block">
                    <p class="card-text">
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                            <li>Aliquam tincidunt mauris eu risus.</li>
                            <li>Vestibulum auctor dapibus neque.</li>
                        </ul>
                    </p>
                </div>
                <div class="card-footer" style="text-align:center">
                    <button class="btn btn-primary btn-sm" ui-sref="login">Sign up today!</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header"><b>For Tenants</b></div>
                <div class="card-block">
                    <p class="card-text">
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                            <li>Aliquam tincidunt mauris eu risus.</li>
                            <li>Vestibulum auctor dapibus neque.</li>
                        </ul>
                    </p>
                </div>
                <div class="card-footer" style="text-align:center">
                    <button class="btn btn-primary btn-sm" ui-sref="login">Sign up today!</button>
                </div>

            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header"><b>Multi-Tennancies</b></div>
                <div class="card-block">
                    <p class="card-text">
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                            <li>Aliquam tincidunt mauris eu risus.</li>
                            <li>Vestibulum auctor dapibus neque.</li>
                        </ul>
                    </p>
                </div>
                <div class="card-footer" style="text-align:center">
                    <button class="btn btn-primary btn-sm" ui-sref="login">Sign up today!</button>
                </div>

            </div>
        </div>
    </div>