<div class="container">
  <div class="row">
    <div class="col-lg-2 hidden-xs"></div>

    <div class="col-lg-4 col-sm-6 cardwrapper">
      <div class="card">
        <div class="card-header">
          <b>Log in</b>
        </div>
        <div class="card-block" style="height:553px">
          <p class="card-text">
            <form method="post" ng-submit="vm.login(vm.user)" name="loginForm">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="ion-android-mail"></i></span>
                <input type="email" ng-model="vm.user.email" class="form-control" name="email" placeholder="Email" required autofocus aria-describedby="basic-addon1">
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon2"><i class="ion-android-lock"></i></span>
                <input type="password" ng-model="vm.user.password" class="form-control" name="password" placeholder="Password" required aria-describedby="basic-addon2">
              </div>
              <br/>
              <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-lg  btn-block btn-success">Log in</button>
              <br/>
              <div class="signup-or-separator">
                <h6 class="text" style="text-align:center">or</h6>
                <hr>
              </div>
            </form>
            <button class="btn btn-block btn-facebook" ng-click="vm.authenticate('facebook')">
              <i class="ion-social-facebook"></i> Sign in with Facebook
            </button>
            <button class="btn btn-block btn-google-plus" ng-click="vm.authenticate('google')">
              <span class="ion-social-googleplus"></span> Sign in with Google
            </button>
            <button class="btn smallbtn btn-linkedin" ng-click="vm.authenticate('linkedin')">
              <i class="ion-social-linkedin"></i>
            </button>
            <button class="btn smallbtn btn-instagram" ng-click="vm.authenticate('instagram')">
              <i class="ion-social-instagram"></i>
            </button>
            <button class="btn smallbtn btn-twitter" ng-click="vm.authenticate('twitter')">
              <i class="ion-social-twitter"></i>
            </button>
            <button class="btn smallbtn btn-foursquare" ng-click="vm.authenticate('foursquare')">
              <i class="fa fa-foursquare"></i>
            </button>
            <button class="btn smallbtn btn-github" ng-click="vm.authenticate('github')">
              <i class="ion-social-github"></i>
            </button>
            <button class="btn smallbtn btn-bitbucket" ng-click="vm.authenticate('bitbucket')">
              <i class="fa fa-bitbucket"></i>
            </button>
            <button class="btn smallbtn btn-yahoo" ng-click="vm.authenticate('yahoo')">
              <i class="ion-social-yahoo"></i>
            </button>
            <button class="btn smallbtn btn-live" ng-click="vm.authenticate('live')">
              <i class="ion-social-windows"></i>
            </button>
            <button class="btn smallbtn btn-twitch" ng-click="vm.authenticate('twitch')">
              <i class="ion-social-twitch"></i>
            </button>
          </p>
        </div>
      </div>

    </div>
    <div class="col-lg-4 col-sm-6 cardwrapper">
      <div class="card">
        <div class="card-header">
          <b>No account yet? Sign up!</b>
        </div>
        <div class="card-block" style="height:553px">
          <p class="card-text">
            <form method="post" ng-submit="vm.signup(vm.newuser)" name="signupForm">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><i class="ion-android-mail"></i></span>
                <input type="email" ng-model="vm.newuser.UserName" class="form-control" name="email" placeholder="Email" required autofocus aria-describedby="basic-addon1">
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon2"><i class="ion-android-lock"></i></span>
                <input type="password" ng-model="vm.newuser.Password" class="form-control" name="password" placeholder="Password" required aria-describedby="basic-addon2">
              </div>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon3"><i class="ion-android-lock"></i></span>
                <input type="password" ng-model="vm.newuser.ConfirmPassword" class="form-control" name="password" placeholder="Repeat password" required aria-describedby="basic-addon3">
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon4"><i class="fa fa-road"></i></span>
                <input type="text" ng-model="vm.newuser.FirstName" class="form-control" required placeholder="Firstname"  aria-describedby="basic-addon4">
              </div>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon4"><i class="fa fa-road"></i></span>
                <input type="text" ng-model="vm.newuser.LastName" class="form-control" required placeholder="Lastname">
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon4"><i class="fa fa-road"></i></span>
                <input type="text" ng-model="vm.newuser.AddressLine1" class="form-control" placeholder="Address line 1" required aria-describedby="basic-addon4">
              </div>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon4"><i class="fa fa-road"></i></span>
                <input type="text" ng-model="vm.newuser.AddressLine2" class="form-control" placeholder="Address line 2">
              </div>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon4"><i class="fa fa-road"></i></span>
                <input type="text" ng-model="vm.newuser.AddressLine3" class="form-control" placeholder="Address line 3">
              </div>
              <br/>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon5"><i class="fa fa-location-arrow"></i></span>
                <input type="text" ng-model="vm.newuser.Postal" class="form-control" placeholder="Postal code" aria-describedby="basic-addon5">
              </div>
              <br/>
              <button type="submit" ng-disabled="signupForm.$invalid" class="btn btn-lg  btn-block btn-success">Sign up!</button>
            </form>

          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-2 hidden-xs"></div>

  </div>
</div>