<div class="card">
    <img class="card-img-top" src="/images/newProperty.jpg" alt="New property" style="width:100%">
    <div class="card-block">
        <h4 class="card-title">More properties?</h4>
        <p class="card-text">
            <div style="height:209.796px;">If you want to add another property, just click the button below to get started!</div>
        </p>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-primary btn-sm">Add property</button>
    </div>
</div>